@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
}

.navbar-brand,
.nav-link,
.my-form,
.login-form {
    font-family: Raleway, sans-serif;
}

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row {
    margin-left: 0;
    margin-right: 0;
}

.login-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row {
    margin-left: 0;
    margin-right: 0;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group input[type="url"] {
    width: 70%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-right: 10px;
}

.form-group button {
    padding: 10px 20px;
}

.custom-table {
    height: 300px;
    overflow-y: scroll;
    display: block;
}